type fpc_data_file, file_type, data_file_type;
type fpc_stat_data_file, file_type, data_file_type;
type fpc_socket, file_type;
type fpc_sysfs, fs_type, sysfs_type;

type decrypt_file, file_type, data_file_type;
